/* Global and Shared rules */
/* @import "~antd/dist/antd.css"; */

@import "~antd/dist/antd.dark.css";
/* --bg-color: #282c34; --card-color: #282c34; */

/* @import "~antd/dist/antd.compact.css"; */
/* --bg-color: #eee; --card-color: #fff; */

:root {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  --bg-color: #1f1b24;
  --card-color: #282c34;
  /* --bg-color: #eee;
  --card-color: #fff; */
  --bar-height-web: 70px;
  --bar-height-web-mobile: 50px;
  --text-size-web: 2rem;
  --text-size-mobile: 1rem;
  --max-width-content: 900px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mobile-show-only {
  display: none;
}
.destop-show-only {
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-size: var(--text-size-web);
  margin: 5px 0;
}

h1 {
  font-size: 4.5rem;
  margin: 10px 0;
}
h2 {
  font-size: 4rem;
  margin: 10px 0;
}
h3 {
  font-size: 3.5rem;
  margin: 10px 0;
}
h4 {
  font-size: 3rem;
  margin: 10px 0;
}
h5 {
  font-size: 2.5rem;
  margin: 10px 0;
}

.grid-items-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  grid-gap: 3rem;
}
.grid-item {
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}
.card {
  padding: 15px;
  border-radius: 5px;
  background-color: var(--card-color);
}
.card:hover,
.card:focus {
  cursor: pointer;
  box-shadow: 0px 1px 5px 1px lightcoral;
}

@media (max-width: 600px) {
  .mobile-show-only {
    display: block;
  }
  .destop-show-only {
    display: none;
  }
  p {
    font-size: var(--text-size-mobile);
    margin: 3px 0;
  }
  h1 {
    font-size: 2.3rem;
    margin: 10px 0;
  }
  h2 {
    font-size: 2rem;
    margin: 10px 0;
  }
  h3 {
    font-size: 1.8rem;
    margin: 10px 0;
  }
  h4 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  h5 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  .grid-items-list {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 0.5rem;
  }
}
